<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="login-container" style="margin-top: 10%;">
    <h2>用户登录</h2>
    <form method="POST" action="{{ url_for('login') }}">
        <div class="form-group">
            <label for="email">电子邮箱：</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">密码：</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="btn-login">登录</button>
    </form>
    <div class="register-link">
        <a href="{{ url_for('register') }}">新用户注册</a>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="error-message">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
</div>
</body>
</html>